*{
    box-sizing: border-box;
    margin:0
}
body{
    background-image: url(../img/fondo-web.jpeg);
}
.home_main{
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 122.8px;
    height: 73.6px;
    margin-top: 10px;
    margin-left: 10px;

}
.busqueda{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.menu-navegacion{
    margin-right: 10px;
    background-color: rgba(250, 235, 215, 0.34);
    padding: 5px;
    margin-top: 10px;
    font-size: larger;
}
.menu-navegacion p{
    display: flex;
    margin: 2px;
}